.button {
  border-radius: 30px;
  background: var(--secondary-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 11px 24px;
  color: white;
  border: 0;
  cursor: pointer;
}

.button:disabled {
  background: var(--primary-text);
  cursor: inherit;
}
