.input {
  background: white;
  border-radius: 5px;
  border: 1px solid var(--outline-color);
  width: 100%;
  padding: 12px 16px 10px 16px;
  margin-bottom: 12px;
  font-family: Helvetica;
  resize: none;
}

.input::placeholder {
  color: var(--outline-color);
}

.input[type='text'] {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: var(--primary-text);
}

.disableMargin {
  margin-bottom: 0px;
}
